PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio_db
JWT_SECRET=your_jwt_secret_key_here
ADMIN_EMAIL=ibrahima.hamada277@gmail.com
ADMIN_PASSWORD=your_secure_admin_password
